@import './styles/config';
/* autoprefixer grid: autoplace */
.app {
  margin: 0 auto;
  max-width: 1000px;
  max-height: 100vh;
  height: 100vh;
  padding: 1rem;

  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
}
@include media-sm {
  .app {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(1000, $gifHeigh);
    grid-gap: 1rem;
  }
}

@include media-md {
  .app {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(1000, $gifHeigh);
    grid-gap: 1rem;
  }
}
@include media-lg {
  .app {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(1000, $gifHeigh);
    grid-gap: 1rem;
  }
}
